<!DOCTYPE html>
<section class="contact pb-5">
  <div class="contact-head">
    <h1 class="text-center pt-4 fw-bold">CONTACT SECTION</h1>
    <div class="d-flex justify-content-center align-items-center my-3">
      <div class="line me-2"></div>
      <i class="fa-solid fa-star text-black"></i>
      <div class="line ms-2"></div>
    </div>
  </div>

  <form action="" class="w-50 mx-auto py-5">
    <input
      type="text"
      id="username"
      class="mb-5 form-control shadow-none border-start-0 border-end-0 border-top-0"
      placeholder="user name"
      name="username"
    />

    <input
      type="text"
      id="userage"
      class="mb-5 form-control shadow-none border-start-0 border-end-0 border-top-0"
      placeholder="user age"
      name="user age"
    />

    <input
      type="email"
      id="useremail"
      class="mb-5 form-control shadow-none border-start-0 border-end-0 border-top-0"
      placeholder="user email"
      name="user email"
    />

    <input
      type="password"
      id="password"
      class="mb-5 form-control shadow-none border-start-0 border-end-0 border-top-0"
      placeholder="user password"
      name="user password"
    />

    <button class="border-0 my-reusable-class text-white p-2 rounded-3">
      send massage
    </button>
  </form>
</section>
